
    <%= text( '#className' ) %>( <%= text( "#constructorParams" ) %> )      
    {
       <% each( '.model > .fields > *', function( field ) { %>
          this.<%= field.text('#name') %> = <%= field.text('#name') %>;
       <% }) %>
    }